<header [class.headerDark]="darkMode">



    <img *ngIf="!darkMode" routerLink="/" src="assets/img/logowhite.png">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/logo.png">

    <div [class.darkLinks]="darkMode">
        <a class="menuelinks" routerLink="/">Home</a>
        <a class="menuelinks" routerLink="/data-protection">Data protection</a>
        <!-- <a class="menuelinks" routerLink="#">Curriculum</a> -->
        <!-- <a class="menuelinks" routerLink="#">Projects</a> -->
        <a class="menuelinks" routerLink="/imprint">Imprint</a>
    </div>

</header>